<%- include('partials/header') %>
<link rel = "stylesheet" href = "/css/style.css">
  <div class = "hero-section" id = "About" >
<img src = "/img/pp.jpeg" style = "border-radius:100%">
  <h1 style = "text-decoration:underline; text-transform: uppercase;font-weight:lighter"> ANANYA KODUKULA </h1>

    <h2 style = "text-align:center">About me : <h2><br>
    <h3>My interests primarily lie in astronomy and physics. I am pursuing my Bachelor's degree in Computer Science at MS Ramaiah Institute of Technology. It is my dream to contribute to the growth of the Space Era in India.</h3>

</div>

  <div class = "Skills" id = "Skills" style = "text-align:center">
  <h2 style = "padding-top:70px">My skills </h2>
  <p>

  <div class="row" style = "text-align:center">
    <div class = "col-sm-1"></div>
    <div class="col-sm-4">
      <div class="card">
        <img src = "/img/swift.png" class = "card-img-top">
        <div class="card-body">
          <h5 class="card-title">App Development in iOS using Swift(in progress)</h5>
          <p class="card-text">September 2019-present</p>
          <a href="https://developer.apple.com/swift/" class="btn btn-primary">Check it out!</a>
        </div>
      </div>
    </div>
    <div class = "col-sm-2"></div>
    <div class="col-sm-4" >
      <div class="card">
        <img src = "/img/nodejs.jpeg" class = "card-img-top">
        <div class="card-body">
          <h5 class="card-title">Web Development using Node.js(in progress)</h5>
          <p class="card-text">June 2020-present</p>
          <a href="https://nodejs.org/en/" class="btn btn-primary">Check it out!</a>
        </div>
      </div>
    </div>
    <div class = "col-sm-1"></div>
  </div>
</p>
</div>

  <div class = "Education" id = "Education" >
  <h2 style = "padding-top:70px">My Education </h2>
  <div class="row">
  <div class="col-sm-4">
    <div class="card">
      <img src = "/img/ryan.jpeg" class = "card-img-top">
      <div class="card-body">
        <h5 class="card-title">Ryan International School| Yelahanka Bangalore</h5>
        <p class="card-text" >Standard 1 - Standard 10 | Graduated 10th - 2017</p>
        <a href="https://www.ryaninternational.org/site/risyelahanka/" class="btn btn-primary">Check it out!</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img src = "/img/base.jpeg" class = "card-img-top">
      <div class="card-body">
        <h5 class="card-title">BASE PU College| Sahakarnagar Bangalore</h5>
        <p class="card-text"> 1st PUC- 2nd PUC | Graduated in - 2019</p>
        <a href="https://basepucollege.edu.in/B-SahakarNagar.php" class="btn btn-primary">Check it out!</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img src = "/img/msrit.jpeg" class = "card-img-top">
      <div class="card-body">
        <h5 class="card-title">MS Ramaiah Institute of Technology| MS Ramaiah Nagar Bangalore</h5>
        <p class="card-text"> B.E Computer Science | Graduate in - 2023</p>
        <a href="http://www.msrit.edu/" class="btn btn-primary">Check it out!</a>
      </div>
    </div>
  </div>
</div>
    </div>

    <div class = "Hobbies" id = "Hobbies" >
      <h2 style = "padding-top:70px">My hobbies</h2>
      <div class="row">
        <div class = "col-sm-1"></div>
      <div class="col-sm-4">
        <div class="card">
          <img src = "/img/guitar.jpeg" class = "card-img-top">
          <div class="card-body">
            <h5 class="card-title">Playing the guitar!</h5>

</div>
          </div>
        </div>
<div class = "col-sm-2"></div>
      <div class="col-sm-4">
        <div class="card">
          <img src = "/img/key.jpeg" class = "card-img-top">
          <div class="card-body">
            <h5 class="card-title">Playing the Keyboard!</h5>

          </div>
        </div>
      </div>
      <div class = "col-m-1"></div>
      </div>
</div>
<%- include('partials/footer') %>
