<%- include('partials/header') %>
  <body>
    <h3>Signing- up!</h3>
    <hr>
    <form class="sign-up" action="/blog/signup" method="post">
      <div class = "col-md-4">
      Username:<input type="text" name="username" value="" placeholder="username" class = "form-control"><br>
      Password:<input type="text" name="password" value="" placeholder="Password" class = "form-control"><br>
      Confirm Password:<input type="text" name="confirmp" value="" placeholder="Confirm Password" class = "form-control"><br>
      <input type="submit" name="Submit" value="Submit" class = "btn btn-primary">
    </div>
  </form>
  </body>
<%- include('partials/footer') %>
